
.flex-container {
  display: flex;
  flex-direction: column;
  font-family: $body-font;
  min-height: 90vh;
  font-size: 24px;
  padding: 0px 12px;
  margin-bottom: 40px;
}

.intro {
  padding: 30px;
  margin: 0 auto;
  font-weight: 700;
  justify-content: center;
  width: 80vw;
  text-align: center;
}
