<div class= container>
  <h1>Welcome to Battle Furry</h1>

  <div class="intro">In today's world, mice, birds, even fishes are becoming increasingly rare!
  Our cute little furry balls have to fight to win the attention of their hoomans and get fed!
  You have now entered the Cats arena and shall select below two catfighters who will get the chance to be fed by you.
  <br>
  You can also create your own pet! </div>

</div>

<div class="footer"><i> NB: No animals were harmed during the making of this app </i>
</div>


