<div class="flex-container">
  <h1>Welcome to Battle Furry</h1>

  <div class="intro">
    In today's world, mice, birds, even fishes are becoming increasingly rare... <br>
    Our cute little furry balls have to fight to win the attention of their hoomans and get fed! <br>
    You have now entered the Cats Arena. <br>
    Please select below two catfighters who will get the chance to be fed by you, or create your own pet.
  </div>

  <div class="center-items">
    <%= link_to "Create a new Catfighter", new_warrior_path, class: "btn-action"  %>
    <%= link_to "See all Catfighters", warriors_path, class: "btn-action"  %>
  </div>

</div>



