.btn-action {
  background-color: $light-orange;
  text-decoration: none;
  color: black;
  text-align: center;
  border-radius: 4px;
  padding: 20px 20px;
  margin: 30px;
  width: 30vw;
  font-size: 20px;
  font-weight: bold;
}

.btn-action:hover {
  background-color: $light-green;
  color: white;
}

.btn-back {
  background-color: $light-orange;
  text-decoration: none;
  color: $dark-gray;
  text-align: center;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 30px;
  width: 30vw;
  font-size: 16px;
  font-weight: bold;
}

.btn-back:hover {
  background-color: $dark-gray;
  color: gray;
}
.center-items {
  display: flex;
  justify-content: space-around;
}
