.cat-sheet {
  text-align: center;
  .presentation {
    padding: 20px;
  }
  .icon {
    padding: 20px;
        a {
      color: black;
      text-decoration: none;
      }
  }
  .performance {
    padding-bottom: 20px;
  }
  img {
    border-radius: 50%;
    height: 40vh;
    width: 40vh;
  }
}
