.footer {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  color: white;
  height: 5vh;
  font-family: $body-font;
  align-items: center;
  padding: 0px 12px;
  font-size: 20px;
}
